#app {
    display: flex;
    justify-content: center;
}

#interval-settings,
#timer__controllers {
    padding: 5px;
    margin: 10px 10px;
}

#interval-settings__controllers {
    margin-top: 15px;
}